/*
 * Bootstrap overrides and additions
 */
.form-control {
    border-radius:3px;
}

.btn-coral {
    background:#ff7979;
    color:#fff;
}

.btn-coral:hover {
    background:#ff9079;
    color:#fff;
}

body {
    background:#fafafa;
    font-family:"Raleway", sans-serif;
    font-weight:300;
}

header {
    background:#fff;
    border-bottom:1px solid #ddd;
}

.logo {
    padding:12px 0;
    width:120px;
}

nav a {
    border-bottom:3px solid #fff;
    color:#4aa4b5;
    display:inline-block;
    font-size:17px;
    font-weight:400;
    padding:26px 26px 23px;
}

nav a:hover {
    border-bottom:3px solid #4aa4b5;
    color:#4aa4b5;
    text-decoration:none;
}

nav a i {
    color:#ff7979;
    margin-right:4px;
}

.hero {
    background:url('/assets/img/hero.jpg') 0 -50px;
    background-size:cover;
    position:relative;
    height:600px;
}

.filter {
    background:rgba(255,255,255,0.7);
    position:absolute;
    bottom:0;
    width:100%;
}

.filter .col-lg-4 {
    border-right:1px solid rgba(0,0,0,0.1);
    border-left:1px solid rgba(255,255,255,0.5);
}

.filter .col-lg-4:first-child {
    border-left:none;
}

.filter .col-lg-2 {
    border-left:1px solid rgba(255,255,255,0.5);
}

.filter .form-group {
    margin:0;
    padding:60px 0;
}

.filter label {
    color:#5a5a5a;
    font-weight:600;
    text-transform:uppercase;
}
