/*
 * Bootstrap overrides and additions
 */
.text-danger { color:#e83c38; }
.text-success { color:#4abd4c; }

.form-control {
    border-radius:3px;
}

.btn-coral {
    background:#ff7979;
    color:#fff;
}

.btn-coral:hover {
    background:#ff9898;
    color:#fff;
}

.btn-primary {
    background:#63b1bf;
    border-color:#63b1bf;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background:#79bcc8;
    border-color:#79bcc8;
}

.input-group-btn .btn-lg {
    font-size:14px;
    line-height:24px;
}

.input-number {
    text-align:center;
}

a,
a:hover,
a:focus,
a:active,
a:active:focus  { color:#4aa4b5; }

[v-cloak] { display:none; }

/*
 * General styles
 */
html, body { height:100%; }

body {
    background:#fafafa;
    color:#5a5a5a;
    font-family:"Montserrat", sans-serif;
    font-weight:300;
}

header {
    background:#fff;
    border-bottom:1px solid #ddd;
    position:relative;
    z-index:2;
}

.home header { border:none; }

.logo {
    padding:18px 0;
    height:80px;
}

nav a {
    color:#4aa4b5;
    display:inline-block;
    font-size:15px;
    font-weight:300;
    line-height:20px;
    padding:30px 20px;
    text-transform:uppercase;
}

nav a:hover {
    background:#f8fbfc;
    color:#4aa4b5;
    text-decoration:none;
}

nav a i {
    color:#ff7979;
    margin-right:4px;
}

.content {
    margin-top:-80px;
    padding-top:80px;
    height:100%;
}

.home .content { padding-top:0; }

.hero {
    background:url('/assets/img/hero.jpg') 0 -80px;
    background-size:cover;
    height:100%;
}

.filter.affix-top {
    background:rgba(255,255,255,0.7);
    position:absolute;
    bottom:0;
    width:100%;
}

.filter.affix {
    background:#fff;
    border-bottom:1px solid #ddd;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.filter.affix .form-group {
    padding:16px 0;
}

.filter.affix .form-control,
.filter.affix .btn-lg {
    font-size:14px;
    padding:6px 12px;
    height:34px;
    line-height:1.42857143;
}

.filter .col-lg-6:first-child {
    border-right:1px solid rgba(0,0,0,0.1);
}

.filter .col-lg-3 {
    border-right:1px solid rgba(0,0,0,0.1);
    border-left:1px solid rgba(255,255,255,0.5);
}

.filter .col-lg-2 {
    border-left:1px solid rgba(255,255,255,0.5);
}

.filter .form-group {
    margin:0;
    padding:60px 0;
}

.filter label {
    color:#5a5a5a;
    font-weight:400;
    margin-bottom:4px;
    text-transform:uppercase;
}

.listings {
    margin-top:40px;
    min-height:100%;
}

.listings .panel-body {
    padding:30px;
}

.listing {
    border-top:1px solid #ddd;
    clear:both;
    overflow:hidden;
    margin-top:30px;
    padding-top:30px;
}

.listing:first-child {
    border:0;
    margin:0;
    padding:0;
}

.listing img {
    float:left;
    margin-right:30px;
    width:100%;
}

.listing h3 { margin-top:0; }

footer {
    background:#e8e8e8;
    margin-top:80px;
    padding:20px;
}

.affix-top .ap-dropdown-menu {
    top:auto !important;
    bottom:100% !important;
}

.affix .ap-dropdown-menu {
    top:0% !important;
    bottom:auto !important;
}
